<div class="doorboard-background" fxFill>
  <div>
    <!--Seems to be throwing error: "cannot read name of undefined once or twice while the page is loading, probably want to refactor this at some point-->
    <mat-card class="user-card" *ngIf="user">
      <h3>{{this.user.name + '\'s Doorboard'}}</h3>
    </mat-card>
    <div class="add-button-container">
      <!--This is where we add our new notes. The user ID is automatically set for each new note to match the id of the user-->
      <button mat-raised-button class="add-note-button" matTooltip="Add Note" matTooltipPosition="below"
        routerLink="/notes/user/{{this.id}}/new">Add New Note
      </button>
      <button mat-raised-button class="download-pdf-button" matTooltip="Download PDF" matTooltipPositon="below"
        (click)="savePDF()">
        Download PDF
      </button>
    </div>
    <div class="note-list-container">
    <!--This is where we are looping through the notes that belong to each user-->
    <mat-list fxLayout="row wrap" class="list-of-user-notes">
      <mat-list-item *ngFor="let note of notes; first as last" class="user-note">
        <p> {{this.note.body}} </p>
        <mat-card-actions>
          <button mat-button class="note-action edit" [routerLink]="'/notes/edit/' + this.id + '/' + note._id">
            <mat-icon aria-label="Edit note">create</mat-icon>
          </button>
          <button mat-button class="note-action delete" (click)="deleteNote(note._id);">
            <mat-icon aria-label="Delete note">delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-list-item>
    </mat-list>
  </div>

  </div>
</div>
