<div class="doorboard-background" fxFill>
  <div>
    <mat-card class="user-card" *ngIf="user">
      <h3>{{this.user.name + '\'s Doorboard'}}</h3>
    </mat-card>
    <div class="add-button-container">
      <!--This is where we add our new notes. The user ID is automatically set for each new note to match the id of the user-->
      <button mat-raised-button class="add-note-button" matTooltip="Add Note" matTooltipPosition="below"
        routerLink="/notes/user/{{this.id}}/new">Add New Note
      </button>
      <button mat-raised-button class="download-pdf-button" matTooltip="Download PDF" matTooltipPositon="below"
        (click)="savePDF()">
        Download PDF
      </button>
    </div>

    <div *ngIf="notes">
      <h2>Pinned Notes</h2>
      <ul class="note-container">
        <div *ngFor="let note of this.notes.slice().reverse()">
          <div *ngIf="this.note.pinned == 'true'">
            <mat-card class="note-card">
              <p> {{this.note.body}} </p>
              <mat-card-actions>
                <button mat-button class="note-action edit" [routerLink]="'/edit/' + note._id">
                  <mat-icon aria-label="Edit note">edit</mat-icon>
                </button>
                <button mat-button class="note-action pin" (click)="unpinNote(this.note)">
                  <mat-icon aria-label="Pin note">stars</mat-icon>
                </button>
                <button mat-button class="note-action delete" (click)="deleteNote(note._id);">
                  <mat-icon aria-label="Delete note">delete</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </ul>
      <h2>Unpinned Notes</h2>
      <ul class="note-container">
        <div *ngFor="let note of this.notes.slice().reverse()">
          <div *ngIf="this.note.pinned == 'false'">
            <mat-card class="note-card">
              <p> {{this.note.body}} </p>
              <mat-card-actions>
                <button mat-button class="note-action edit" [routerLink]="'/edit/' + note._id">
                  <mat-icon aria-label="Edit note">edit</mat-icon>
                </button>
                <button mat-button class="note-action pin" (click)="pinNote(this.note)">
                  <mat-icon aria-label="Pin note">stars</mat-icon>
                </button>
                <button mat-button class="note-action delete" (click)="deleteNote(note._id);">
                  <mat-icon aria-label="Delete note">delete</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </ul>
    </div>
    <!-- <div *ngIf="notes">
      <h2>Pinned Notes</h2>
      <ul class="note-container">
        <mat-card class="note-card" *ngFor="let note of this.notes.slice().reverse()">
          <div *ngIf="this.note.pinned=='true'"></div>
          <p> {{this.note.body}} </p>
          <mat-card-actions>
            <button mat-button class="note-action edit" [routerLink]="'/notes/edit/' + user._id + '/' + note._id">
              <mat-icon aria-label="Edit note">create</mat-icon>
            </button>
            <button mat-button class="note-action delete" (click)="deleteNote(note._id);">
              <mat-icon aria-label="Delete note">delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </ul>
    </div> -->

  </div>
</div>
