<div fxLayout="row">
  <div *ngIf="users">

  <div *ngIf="users">
<ul class= "users-container">
  <mat-card class="user-card" *ngFor="let user of this.users">
    <p class= "user-card-name"> {{this.user.name}} </p>
    <p> {{this.user.building }} {{this.user.officeID }}</p>
    <p> {{this.user.email }} </p>
    <mat-card-actions>
      <button mat-button class="edit-doorboard" [routerLink]="'/notes/user/' + user._id">
        EDIT DOORBOARD
      </button>
      <button mat-button class="view-doorboard" [routerLink]="'/notes/user/' + user._id + '/viewer'">
        VIEW DOORBOARD
      </button>
    </mat-card-actions>
  </mat-card>
</ul>
</div>

</div>
