/**
 * Common formatting for notes on the viewer page and the user page.
 */

.pinned-note-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.unpinned-note-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.note-card {
  width: 200px;
  min-height: 200px;
  margin: 10px;
  position: relative;
  background-color: palegoldenrod;
}

.note-error {
  text-align: center;
  padding: 10px;
}
