<nav class="navbar" *ngIf="user">
  <h1> {{this.user.name + '\'s Doorboard'}} </h1>
</nav>

<div>
  <h2>Pinned Notes</h2>
  <ul class="pinned-note-container" *ngIf="notes">
    <div *ngFor="let note of this.notes.slice().reverse()">
      <div *ngIf="this.note.pinned == 'true'">
        <mat-card class="note-card">
          <p class="note-card-body"> {{this.note.body}} </p>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </ul>
</div>

<div>
  <h2>Unpinned Notes</h2>
  <ul class="unpinned-note-container" *ngIf="notes">
    <div *ngFor="let note of this.notes.slice().reverse()">
      <div *ngIf="this.note.pinned == 'false'">
        <mat-card class="note-card">
          <p class="note-card-body"> {{this.note.body}} </p>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </ul>
</div>

<ng-template #notesError>
  <div class="note-error">
    <mat-error>
      There was a problem loading the notes. Possibly the server is down or perhaps there are network
      issues.
    </mat-error>
    <mat-error>
      Please wait a bit and try again.
    </mat-error>
  </div>
</ng-template>
